.huahua {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.5);
    transition: all .3s ease;
}
.huahua:hover {
    transform: scale(1) scaleY(1);
}
#lian1 {
    background-image: url("../tupian/flowers/flower (6).jpg");
}
#lian2 {
    background-image: url("../tupian/flowers/flower (5).jpg");
}
#lian3 {
    background-image: url("../tupian/flowers/flower (4).jpg");
}
#lian4 {
    background-image: url("../tupian/flowers/flower (3).jpg");
}
#lian5 {
    background-image: url("../tupian/flowers/flower (2).jpg");
}
#lian6 {
    background-image: url("../tupian/flowers/flower (1).jpg");
}
#lian7 {
    background-image: url("../tupian/flowers/flower (7).jpg");
}
#lian8 {
    background-image: url("../tupian/flowers/flower (8).jpg");
}
#lian9 {
    background-image: url("../tupian/flowers/flower (9).jpg");
}
#lian10 {
    background-image: url("../tupian/flowers/flower (10).jpg");
}
#lian11 {
    background-image: url("../tupian/flowers/flower (11).jpg");
}
#lian12 {
    background-image: url("../tupian/flowers/flower (12).jpg");
}
#lian13 {
    background-image: url("../tupian/flowers/flower (15).jpg");
}
#lian14 {
    background-image: url("../tupian/flowers/flower (16).jpg");
}
#lian15 {
    background-image: url("../tupian/flowers/flower (17).jpg");
}
#lian16 {
    background-image: url("../tupian/flowers/flower (18).jpg");
}
#lian17 {
    background-image: url("../tupian/flowers/flower (19).jpg");
}
#lian18 {
    background-image: url("../tupian/flowers/flower (20).jpg");
}
#lian19 {
    background-image: url("../tupian/flowers/flower (21).jpg");
}
#lian20 {
    background-image: url("../tupian/flowers/flower (22).jpg");
}
#lian21 {
    background-image: url("../tupian/flowers/flower (23).jpg");
}
#lian22 {
    background-image: url("../tupian/flowers/flower (24).jpg");
}
#lian23 {
    background-image: url("../tupian/flowers/flower (28).jpg");
}
#lian24 {
    background-image: url("../tupian/flowers/flower (31).jpg");
}
