* {
    box-sizing: border-box;
}
body {
    line-height: 2;
    font-size: 20px;
    font-weight: 300; 
    font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;  
    font-size: 20px;  
    color: #404040;  
} 
#intro-section {
    background-color: #e6f3ff;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin-right: -27px;
}

#col {  
    width: 1200px;  
    height:700px;  
    margin-left: 160px;  
      
}  
.pic {  
    width: 250px;  
    height: 200px;  
    margin: 0px;  
    overflow: hidden; 
    position: relative;  
    float: left;  
}  

.pic a img  {  
    height: 500px; 
    border: none;  
    position: absolute;   
    top: -66.5px;  
    left: -150px;  
    opacity: 0.5;   
}  
span a {
    text-decoration: none;
}
